rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Shared validation rules
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isAuthenticated() && request.auth.token.email == 'diogofukuoka85@gmail.com';
    }

    match /comments/{commentId} {
      allow read: if true;
      allow create: if isAdmin();
      allow update: if isAdmin();
      allow delete: if isAdmin();
    }
  }
}
